@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

:root {
  --header: #132a13;
  --subtitles: #31572c;
  --section-backgrounds: #4f772d;
  --text: #2f2f2f;
  --background: #ecf39e;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato;
  background-color: #ddf9c2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-main {
  position: relative;
  background-image: linear-gradient(45deg, #3c7e19, #3e9a0d);
  color: black;
  width: 80vw;
  height: 80vh;

  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "Name Description";
}

.toptopdesign {
  position: absolute;
  top: 10px;
  left: 10px;
  border-top-left-radius: 15px;
  width: 15vw;
  height: 2vw;
  clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
  background-image: linear-gradient(90deg, #2f2f2f, #3f3f3f);
}

.topleftdesign {
  position: absolute;
  top: 10px;
  left: 10px;
  border-top-left-radius: 15px;
  width: 2vw;
  height: 15vw;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
  background-image: linear-gradient(180deg, #2f2f2f, #3f3f3f);
}

.bottombottomdesign {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-bottom-right-radius: 15px;
  width: 15vw;
  height: 2vw;
  clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%);
  background-image: linear-gradient(270deg, #2f2f2f, #3f3f3f);
}

.bottomrightdesign {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-bottom-right-radius: 15px;
  width: 2vw;
  height: 15vw;
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 30%);
  background-image: linear-gradient(0deg, #2f2f2f, #3f3f3f);
}

.textBox {
  grid-area: Name;
  display: flex;
  margin: 0px 1rem 0px 3.5rem;
  font-size: clamp(20px, 3vw, 70px);
  flex-direction: column;
  justify-self: start;
  align-self: center;
}

.divider {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 80%;
  transform: translate(-50%, -50%);
  background-color: var(--text);
}

.imgwrapper {
  grid-area: Description;
  font-size: clamp(16px, 3vw, 36px);
  height: 100%;
  padding: 8%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.codeimg {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  width: clamp(90px, 80%, 200px);
  /* max: 155px min:110 */
  cursor: pointer;
}
